doctype html
html(lang="en")
  head
    title= 'Thorn'
    link(rel='stylesheet', href='/style.css')
    script(src="https://cdn.firebase.com/js/client/2.3.1/firebase.js")
    script(src="js/jquery-1.11.3.js")
    script(src='js/feed.js')

body
  div(class="page-wrap" id='registration')
    section(class="main-content" role="main")
      a(href="/index.html")
        img(src= "http://i.imgur.com/zeAmBEC.png" width="300px")
      h2 So What's The Deal?
      div(class='aboutText')
        p Upon login you can see and post your feelings, secrets, and scandals completely anonymously. You may like things anonymously as well. Your name gets put next to comments you make.
        a(href="#", id='login', class='buttonSquare').
          Sign me up Scotty!
