doctype html
html(lang="en")
  head
    title= 'Thorn'
    link(rel='stylesheet', href='/style.css')
    script(src="https://cdn.firebase.com/js/client/2.3.1/firebase.js")
    script(src="js/jquery-1.11.3.js")
    script(src='js/feed.js')

  body
    div(class="topRight")
      a(href="/logout.html" id="logOut",class='myButton').
        Log Out
    div(class="flexContainer")
      img(src= "http://i.imgur.com/PJD4tWW.png" width="250px")
      p Your Daily Source of Frustration
      input(type="text", id="newPost", placeholder="OMG Becky Look at Her Butt!!!").
      a(id="submitPost",class='buttonSquare').
        Submit Yo' Shit
      div(id="posts")
        div(class="post")
          a(href="#", class="alignLeft")
            img(src= "/images/poop.png" width="20px")
          a(href="#",class="alignLeftBottom")
              img(src= "/images/heart.png" width="20px")
          p(class="alignText") This is Sample text balksd aldkhl skd lsd lsdkhlsdkf dfl dlkfh dfl dfld fldkfh sdlf dlfkdfhdsklf sld sjhd sldh
