doctype html
html(lang="en")
  head
    title= 'Thorn'
    link(rel='stylesheet', href='/style.css')
    script(src="https://cdn.firebase.com/js/client/2.3.1/firebase.js")
    script(src="js/jquery-1.11.3.js")
    script(src='js/feed.js')

  body
    div(class="topRight")
      a(href="/logout.html" id="logOut",class='buttonSquare').
        Logout
    div(class="flexContainer")
      img(src= "http://i.imgur.com/zeAmBEC.png" id="logo")
      p Your Daily Source of Frustration
      div(class = "wrapper")
        input(type="text", id="newPost", placeholder="Type Yo' Shit").
        a(id="submitPost",class='buttonSquare').
          Submit Yo' Shit
      div(id="posts")
        div(class="post")
    div(class="bottomRight")
      a(href="/bugreport.html", id="bugLink")
        p Have Comments For Us?
