doctype html
html(lang="en")
  head
    title= Thorn
    link(rel='stylesheet', href='/style.css')
    script(src='https://use.typekit.net/jzr5kkr.js')
    script(src="https://cdn.firebase.com/js/client/2.3.1/firebase.js")
    script(src="js/jquery-1.11.3.js")
    script(src='js/login.js')

  body(class='homeContainer')
      img(src= "http://i.imgur.com/PJD4tWW.png")
      h2 A Website Designed to Piss You Off
      a(href="#", id='login', class='myButton').
        Login with Facebook
