doctype html
html(lang="en")
  head
    title= Thorn
    link(rel='stylesheet', href='/style.css')
    script(src='https://use.typekit.net/jzr5kkr.js')

  body(class='homeContainer')
      img(src= "http://i.imgur.com/fActht6.png")
      h2 A Website Designed to Piss You Off
      a(href="#", id='login', class='myButton').
        Login with Facebook
