doctype html
html(lang="en")
  head
    title= 'Thorn'
    link(rel='stylesheet', href='/style.css')
    script(src="https://cdn.firebase.com/js/client/2.3.1/firebase.js")
    script(src="js/jquery-1.11.3.js")
    script(src='js/feed.js')

body
  a(href="#openModal") Open Modal

  div(id="openModal" class="modalDialog")
    div
      a(href="#close" title="Close" class="close") x
      h2 Modal Box
