$secondaryColor: #3B2314;
$primaryColor: #e4e4e4;
$commentColor: #e6e6e6;
$postColor: #ededed;
$body-font-family: "flood-std";
$header-font-family: "flood-std";
$h1-font-size: 5rem;

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: $secondaryColor;
  color: $primaryColor;
}

.close {
	background: $primaryColor;
	color: $secondaryColor;
	line-height: 25px;
	position: absolute;
	right: 0px;
	text-align: center;
  top: -0px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.author {
  float: left;
  font-weight: bold;
  position: relative;
  left: 3%;
  top: -30px;

}


.homeContainer {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -37%);
}

.flexContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.topRight {
    position: fixed;
    right: 0;
    top: 0;
}


.commentContent {
	padding-left: -20px;
	background-color: $commentColor;
}


.comment {
  padding-top: 20px;
  border-bottom: 3px solid $postColor;
  background-color: $commentColor;
}


.post {
  background-color: $postColor;
  padding: 1px 0px 1px 0px;
  margin: 5px;
  box-shadow: 1px 2px 2px #c6c6c6;
  max-width: 475px;
}

.alignLeft {
  float: left;
  position: relative;
  left:10px;
  top: 8px;
}
.alignLeftBottom {
  float: left;
  position: relative;
  left: -10px;
  top: 33px;
}

.alignText {
  text-align: left;
  padding-left: 12%;
}


body {
  text-align: center;
  color: $secondaryColor;
  font-family: "flood-std", Arial, sans-serif;
  background-color: $primaryColor;
}

h1 {
  font-size: $h1-font-size;
  font-family: "flood-std", Arial, sans-serif;
  color: $secondaryColor;
}

h2 {
  font-size: 1.5rem;
  font-family: "fira-sans-2",Arial, sans-serif;
  font-weight: lighter;
}

.myButton {
	background-color:$primaryColor;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid $secondaryColor;
	display:inline-block;
	cursor:pointer;
	color: $secondaryColor;
	font-family:Arial;
	font-size:17px;
	padding:9px 9px;
	text-decoration:none;
}

.submitComment {
  background-color:$primaryColor;
	border:1px solid $secondaryColor;
	cursor:pointer;
	color:$secondaryColor;
	font-family:Arial;
	font-size:12px;
	padding:8px 8px;
}

.newComment {
  width: 10em;
  height: 15px;
  padding: 8px 90px;
  font-size: 12px;
  background-color: $secondaryColor;
  color: $primaryColor;
  border:none;
}

.buttonSquare {
	background-color:$primaryColor;
	border:1px solid $secondaryColor;
	cursor:pointer;
	color:$secondaryColor;
	font-family:Arial;
	font-size:17px;
	padding:13px 15px;
}
input {
  width: 19em;
  height: 27px;
  padding:10px;
  font-size: 17px;
  background-color: $secondaryColor;
  color: $primaryColor;
  border:none;
}
::-webkit-input-placeholder {
  color: $primaryColor;
  font-family: Arial;
  font-size:15px;
  text-align: center;

}
