$secondaryColor: #FFFFFF;
$primaryColor: #DCD0FF;
$commentColor: #FFF;
$postColor: #ededed;
$body-font-family: "flood-std";
$header-font-family: "flood-std";
$h1-font-size: 5rem;

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: $primaryColor;
  color: $secondaryColor;
}


.close {
	background: $secondaryColor;
	color: $primaryColor;
	line-height: 25px;
	position: absolute;
	right: 0px;
	text-align: center;
  top: -0px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
}

.close:hover {
	background: #00d9ff;
}

#logo {
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 30%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.author {
  float: left;
  font-weight: bold;
  position: relative;
  left: 3%;
  top: -30px;

}


.homeContainer {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -37%);
}

.flexContainer {
	margin: auto;
	width: 60%;
  padding: 20px;
}

.topRight {
    position: fixed;
    right: 0;
    top: 0;
}


.commentContent {
	padding-left: -20px;
	background-color: $commentColor;
}


.comment {
  padding-top: 25px;
  border: 2px solid $primaryColor;
  background-color: $commentColor;
	padding-bottom: 15px;
	align: right;
	font-size: 14px;
}
.wrapper {
	width: 100%;
}

.post {
  background-color: #FFF;
  padding: 5px 15px 10px 10px;
  margin: 5px;
  box-shadow: 1px 2px 2px #c6c6c6;
	color: $primaryColor;
	font-size: 16px;
}

.alignLeft {
  float: left;
  position: relative;
  left:3.8%;
  top: 8px;
}
.alignLeftBottom {
  float: left;
  position: relative;
  //left: 20%;
  top: 40px;
}

.alignText {
  text-align: left;
  padding-left: 12%;
}

@media only screen and (max-width: 1000px) {
	.flexContainer {
  	width: 80%;
  }
}

@media only screen and (max-width: 640px) {
	.flexContainer {
  	width: 100%;
		padding: 0px;
  }
}

body {
  text-align: center;
  color: $secondaryColor;
  font-family: "flood-std", Arial, sans-serif;
  background-color: $primaryColor;
}

h1 {
  font-size: $h1-font-size;
  font-family: "flood-std", Arial, sans-serif;
  color: $secondaryColor;
}

h2 {
  font-size: 1.5rem;
  font-family: "fira-sans-2",Arial, sans-serif;
  font-weight: lighter;
}

.myButton {
	background-color:$primaryColor;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid $secondaryColor;
	display:inline-block;
	cursor:pointer;
	color: $secondaryColor;
	font-family:Arial;
	font-size:17px;
	padding:9px 9px;
	text-decoration:none;
}

.submitComment {
	position:relative;
	top: -21px;
  background-color:$secondaryColor;
	border:2px solid $primaryColor;
	cursor:pointer;
	color:$primaryColor;
	font-family:Arial;
	font-size:12px;
	padding:8px 8px;
	height: 32px;
	float: right;
}

.newComment {
	position:relative;
	top: -21px;
  width: 66%;
	float: right;
  height: 32px;
  font-size: 20px;
  background-color: $secondaryColor;
  color: $primaryColor;
  border: 2px solid $primaryColor;
}

.buttonSquare {
	background-color:$primaryColor;
	border:1px solid $secondaryColor;
	cursor:pointer;
	color:$secondaryColor;
	font-family:Arial;
	font-size:17px;
	padding:13px 15px;
}
input {
  width: 19em;
  height: 47px;
  padding:10px;
  font-size: 15px;
  background-color: $secondaryColor;
  color: $primaryColor;
  border:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
::-webkit-input-placeholder {
  color: $primaryColor;
  font-family: Arial;
  font-size:15px;
  text-align: center;

}
